.App {
  text-align: center;
  background-image: linear-gradient(to top, rgb(46,36,45), rgb(35,65,90));
  height: 100vh;
  position: relative;
}

.content {
  position: absolute;
  top: 30%;
  left: 38%;
}

.header {
  text-align: center;
  margin-bottom: 12px;
  font-size: 40px;
  font-weight: 600;
  color: rgb(226, 119, 189);
  text-shadow: 2px 2px 2px rgb(35,65,90);
}

.bio {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 1px 1px 1px grey;
}

.swapAmount {
  text-align: right;
  margin: auto;
  margin-top: 20px;
  padding: 7px;
  border: 1px solid #cdcdcd;
  border-spacing: 2px;
  border-radius: 14px;
  border-color: lightgray;
  background-image:  linear-gradient(to top, rgb(46,36,45), rgb(27, 38, 49));;
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.swapButton {
  cursor: pointer;
  background-image: linear-gradient(to bottom, rgb(239,24,164), rgb(27, 38, 49));
  color: whitesmoke;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 2px;
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
  border: 2;
  border-color: whitesmoke;
  border-radius: 26px;
  width: 250px;
}

/* still trying to implement .walletButton in app.js 
*/
.walletButton {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, rgb(26, 82, 118), rgb(27, 38, 49));
  color: whitesmoke;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 2px;
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
  border: 2;
  border-color: whitesmoke;
  border-radius: 26px;
  width: 250px;
}


.swapButton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px rgb(0, 216, 221);
}

input {
  border: 0;
  padding: 5px;
  margin: 5px;
  background: transparent;
  width: 30px;
  border-radius: 25px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
